# Gene expression dataset (Golub et al.)
## Molecular Classification of Cancer by Gene Expression Monitoring

### Context

This dataset comes from a proof-of-concept study published in 1999 by Golub et al. It showed how new cases of cancer could be classified by gene expression monitoring (via DNA microarray) and thereby provided a general approach for identifying new cancer classes and assigning tumors to known classes. These data were used to classify patients with acute myeloid leukemia (AML) and acute lymphoblastic leukemia (ALL).

### Content

Golub et al "Molecular Classification of Cancer: Class Discovery and Class
Prediction by Gene Expression Monitoring"

There are two datasets containing the initial (training, 38 samples) and independent (test, 34 samples) datasets used in the paper. These datasets contain measurements corresponding to ALL and AML samples from Bone Marrow and Peripheral Blood. Intensity values have been re-scaled such that overall intensities for each chip are equivalent. (Source: https://www.kaggle.com/crawford/gene-expression)

### Acknowledgements

Molecular Classification of Cancer: Class Discovery and Class Prediction by Gene Expression

Science 286:531-537. (1999). Published: 1999.10.14

T.R. Golub, D.K. Slonim, P. Tamayo, C. Huard, M. Gaasenbeek, J.P. Mesirov, H. Coller, M. Loh, J.R. Downing, M.A. Caligiuri, C.D. Bloomfield, and E.S. Lander

These datasets have been converted to a comma separated value files (CSV).

### Inspiration

These datasets are great for classification problems. The original authors used the data to classify the type of cancer in each patient by their gene expressions.

## Exploratory Data Analysis

In [1]:
import pandas as pd

In [3]:
train_data = pd.read_csv('data_set_ALL_AML_train.csv')
test_data = pd.read_csv('data_set_ALL_AML_independent.csv')

In [20]:
train_data

,Gene Description,Gene Accession Number,1,call,2,call.1,3,call.2,4,call.3,...,29,call.33,30,call.34,31,call.35,32,call.36,33,call.37
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-214,A,-139,A,-76,A,-135,A,...,15,A,-318,A,-32,A,-124,A,-135,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-153,A,-73,A,-49,A,-114,A,...,-114,A,-192,A,-49,A,-79,A,-186,A
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,-58,A,-1,A,-307,A,265,A,...,2,A,-95,A,49,A,-37,A,-70,A
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,88,A,283,A,309,A,12,A,...,193,A,312,A,230,P,330,A,337,A
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-295,A,-264,A,-376,A,-419,A,...,-51,A,-139,A,-367,A,-188,A,-407,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7124,PTGER3 Prostaglandin E receptor 3 (subtype EP3...,X83863_at,793,A,782,A,1138,A,627,A,...,279,A,737,A,588,A,1170,A,2315,A
7125,HMG2 High-mobility group (nonhistone chromosom...,Z17240_at,329,A,295,A,777,P,170,A,...,51,A,227,A,361,A,284,A,250,A
7126,RB1 Retinoblastoma 1 (including osteosarcoma),L49218_f_at,36,A,11,A,41,A,-50,A,...,6,A,-9,A,-26,A,39,A,-12,A
7127,GB DEF = Glycophorin Sta (type A) exons 3 and ...,M71243_f_at,191,A,76,A,228,A,126,A,...,2484,P,371,A,133,A,298,A,790,P
7128,GB DEF = mRNA (clone 1A7),Z78285_f_at,-37,A,-14,A,-41,A,-91,A,...,-2,A,-31,A,-32,A,-3,A,-10,A

In [16]:
train_data.columns

Index(['Gene Description', 'Gene Accession Number', '1', 'call', '2', 'call.1',
       '3', 'call.2', '4', 'call.3', '5', 'call.4', '6', 'call.5', '7',
       'call.6', '8', 'call.7', '9', 'call.8', '10', 'call.9', '11', 'call.10',
       '12', 'call.11', '13', 'call.12', '14', 'call.13', '15', 'call.14',
       '16', 'call.15', '17', 'call.16', '18', 'call.17', '19', 'call.18',
       '20', 'call.19', '21', 'call.20', '22', 'call.21', '23', 'call.22',
       '24', 'call.23', '25', 'call.24', '26', 'call.25', '27', 'call.26',
       '34', 'call.27', '35', 'call.28', '36', 'call.29', '37', 'call.30',
       '38', 'call.31', '28', 'call.32', '29', 'call.33', '30', 'call.34',
       '31', 'call.35', '32', 'call.36', '33', 'call.37'],
      dtype='object')

In [12]:
train_data.describe(include='all')

,Gene Description,Gene Accession Number,1,call,2,call.1,3,call.2,4,call.3,...,29,call.33,30,call.34,31,call.35,32,call.36,33,call.37
count,7129,7129,7129.000000,7129,7129.000000,7129,7129.000000,7129,7129.000000,7129,...,7129.000000,7129,7129.000000,7129,7129.000000,7129,7129.000000,7129,7129.000000,7129
unique,6627,7129,NaN,3,NaN,3,NaN,3,NaN,3,...,NaN,3,NaN,3,NaN,3,NaN,3,NaN,3
top,GB DEF = Unknown protein mRNA; partial cds,Z84721_cds2_at,NaN,A,NaN,A,NaN,A,NaN,A,...,NaN,A,NaN,A,NaN,A,NaN,A,NaN,A
freq,7,1,NaN,5003,NaN,4659,NaN,5071,NaN,5010,...,NaN,5080,NaN,4756,NaN,5148,NaN,4853,NaN,5072
mean,NaN,NaN,641.367092,NaN,690.246318,NaN,698.307897,NaN,600.985271,NaN,...,556.463179,NaN,718.934493,NaN,598.648899,NaN,676.920887,NaN,723.563473,NaN
std,NaN,NaN,2264.294361,NaN,2468.814372,NaN,2485.656277,NaN,2340.047428,NaN,...,2376.681824,NaN,2533.678058,NaN,2405.268550,NaN,2436.964933,NaN,2507.382019,NaN
min,NaN,NaN,-19826.000000,NaN,-17930.000000,NaN,-27182.000000,NaN,-23396.000000,NaN,...,-9501.000000,NaN,-17580.000000,NaN,-25491.000000,NaN,-28400.000000,NaN,-27811.000000,NaN
25%,NaN,NaN,-21.000000,NaN,-14.000000,NaN,-31.000000,NaN,-33.000000,NaN,...,-13.000000,NaN,-25.000000,NaN,-32.000000,NaN,-22.000000,NaN,-38.000000,NaN
50%,NaN,NaN,159.000000,NaN,130.000000,NaN,177.000000,NaN,139.000000,NaN,...,82.000000,NaN,128.000000,NaN,107.000000,NaN,155.000000,NaN,170.000000,NaN
75%,NaN,NaN,535.000000,NaN,488.000000,NaN,610.000000,NaN,497.000000,NaN,...,309.000000,NaN,488.000000,NaN,443.000000,NaN,549.000000,NaN,649.000000,NaN
max,NaN,NaN,31086.000000,NaN,29288.000000,NaN,28056.000000,NaN,31449.000000,NaN,...,30354.000000,NaN,25055.000000,NaN,28350.000000,NaN,25093.000000,NaN,32946.000000,NaN

In [9]:
test_data.columns

Index(['Gene Description', 'Gene Accession Number', '39', 'call', '40',
       'call.1', '42', 'call.2', '47', 'call.3', '48', 'call.4', '49',
       'call.5', '41', 'call.6', '43', 'call.7', '44', 'call.8', '45',
       'call.9', '46', 'call.10', '70', 'call.11', '71', 'call.12', '72',
       'call.13', '68', 'call.14', '69', 'call.15', '67', 'call.16', '55',
       'call.17', '56', 'call.18', '59', 'call.19', '52', 'call.20', '53',
       'call.21', '51', 'call.22', '50', 'call.23', '54', 'call.24', '57',
       'call.25', '58', 'call.26', '60', 'call.27', '61', 'call.28', '65',
       'call.29', '66', 'call.30', '63', 'call.31', '64', 'call.32', '62',
       'call.33'],
      dtype='object')

In [10]:
test_data.head()

,Gene Description,Gene Accession Number,39,call,40,call.1,42,call.2,47,call.3,...,65,call.29,66,call.30,63,call.31,64,call.32,62,call.33
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-342,A,-87,A,22,A,-243,A,...,-62,A,-58,A,-161,A,-48,A,-176,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-200,A,-248,A,-153,A,-218,A,...,-198,A,-217,A,-215,A,-531,A,-284,A
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,41,A,262,A,17,A,-163,A,...,-5,A,63,A,-46,A,-124,A,-81,A
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,328,A,295,A,276,A,182,A,...,141,A,95,A,146,A,431,A,9,A
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-224,A,-226,A,-211,A,-289,A,...,-256,A,-191,A,-172,A,-496,A,-294,A